@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-brand-1: #ffce22;
  --color-brand-2: #2469f6;
  --color-brand-3: #1f2128;
}
